{% extends 'main/base.html' %}

{% block content %}
<div class="quiz">
    <div class="quiz__container">
        <section class="start-screen" id="start-screen">
            <div class="start-screen__content">
                <h1 class="start-screen__title">Тест Контроль</h1>
                <p class="start-screen__description">
                    Вашему вниманию предоставляется тестирование для оценки ваших личностных качеств. Результаты помогут
                    нам
                    улучшить условия вашей работы. Ответьте, пожалуйста, максимально честно на все утверждения.
                    <b class="start-screen__important">Здесь нет "правильных" или "неправильных" ответов, если
                        затрудняетесь в выборе ответа, выберете то, что наиболее подходит к вам.</b>
                    Всего будет {{ total }} вопросов, подготовьтесь заранее, и выделите необходимое время (40-50 минут).
                </p>
                {% if error_message %}
                    <div class="start-form__message" id="validation-message">{{ error_message }}</div>
                {% endif %}
                <form method="post" enctype="multipart/form-data" class="start-form">
                    {{ form.hidden_tag() }}
                    {{ form.fullname.label }}
                    {{ form.fullname(class="start-form__input", autocomplete="off")}}
                    {{ form.callsign.label }}
                    {{ form.callsign(class="start-form__input", autocomplete="off") }}
                    {{ form.squad.label }}
                    {{ form.squad(class="start-form__input", autocomplete="off") }}
                    {{ form.date.label }}
                    {{ form.date(class="start-form__input", type="date", placeholder="ДД.ММ.ГГГГ", pattern="\d{2}\.\d{2}\.\d{4}",title="ДД.ММ.ГГГГ") }}
                    {{ form.submit(class="start-form__submit") }}
                </form>
            </div>
        </section>
{% endblock %}