{% extends 'main/base.html' %}

{% block title %}Личный кабинет{% endblock %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dasboard.css') }}">
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/dasboard.js') }}"></script>
<script type="text/javascript" defer src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
{% endblock %}


{% block content %}
<div class="app-wrapper">
    {% include 'cabinet/_sidebar.html' %}
    <main class="main-content">
        <section class="control-panel">
            <form method="post" class="filter-grid">
                {{ form.csrf_token }}
                <div class="filter-item">
                    {{ form.fullname.label(class="label-field") }}
                    {{ form.fullname(class="input-field",value=fullname, placeholder='Введите ФИО') }}
                </div>
                <div class="filter-item">
                    {{ form.callsign.label(class="label-field") }}
                    {{ form.callsign(class="input-field",value=callsign, placeholder='Введите позывной') }}
                </div>
                <div class="filter-item">
                    {{ form.date.label(class="label-field") }}
                    {{ form.date(class="input-field",type='date', value=date) }}
                </div>
                <div class="filter-item filter-item__actions">
                    <button type="submit" class="btn btn-primary" id="applyFilterBtn">
                        <svg width="16" height="16" viewBox="0 0 256 256" fill="currentColor">
                            <path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path>
                        </svg>
                        Поиск
                    </button>
                    <a href="{{ url_for('user.cabinet') }}" class="btn-reset">
                        <svg class="icon-btn" width="16" height="16" viewBox="0 0 256 256" fill="currentColor">
                            <path d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path>
                        </svg>
                        Сбросить
                    </a>
                </div>
            </form>
        </section>

        <section class="table-section">
            <div class="table-scroll-wrapper">
                <table id="resultsTable">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>ФИО</th>
                        <th>Позывной</th>
                        <th>Отряд</th>
                        <th>Дата рождения</th>
                        <th>Дата обследования</th>
                        <th>Заключение</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody id="tableBody">
                    {% if items %}
                    {% for item in items %}
                    <tr class="table-info">
                        <td>{{ offset + loop.index }}</td>
                        <td class="text-text-primary">{{ item.participant.fullname }}</td>
                        <td class="text-text-primary">{{ item.participant.callsign }}</td>
                        <td class="text-text-secondary">{{ item.participant.squad }}</td>
                        <td class="text-text-secondary">{{ item.participant.date.split('-')[2] }}.{{
                            item.participant.date.split('-')[1] }}.{{ item.participant.date.split('-')[0] }}
                        </td>
                        <td class="text-text-secondary">{{ item.created_at.strftime('%d.%m.%Y') }}</td>
                        <td>
                            {% set warn_text = item.warnings_json | replace('[', '') | replace(']', '') | replace('"',
                            '') %}
                            {% if 'Суицидальный' in item.group %}
                            <span class="status-badge status-danger">{{ item.group  }}</span>
                            {% elif 'Риск импульсивности, опасности с оружием' in item.group %}
                            <span class="status-badge status-danger">{{ item.group  }}</span>
                            {% elif warn_text and warn_text != 'Без особенностей' %}
                            <span class="status-badge status-good">{{ item.group  }}</span>
                            {% else %}
                            <span class="status-badge">{{ warn_text }}</span>
                            {% endif %}
                        </td>
                        <td class="table-actions">
                            <button class="btn-profile button-icon" title="Посмотреть детально"
                                    onclick="showProfile({{ item.id }})">
                                <svg class="icon-btn" viewBox="0 0 256 256" width="20" height="20" fill="currentColor">
                                    <path d="M247.31,124.76c-.35-.79-8.82-19.58-27.65-38.41C194.57,61.26,162.88,48,128,48S61.43,61.26,36.34,86.35C17.51,105.18,9,124,8.69,124.76a8,8,0,0,0,0,6.5c.35.79,8.82,19.57,27.65,38.4C61.43,194.74,93.12,208,128,208s66.57-13.26,91.66-38.34c18.83-18.83,27.3-37.61,27.65-38.4A8,8,0,0,0,247.31,124.76ZM128,192c-30.78,0-57.67-11.19-79.93-33.25A133.47,133.47,0,0,1,25,128,133.33,133.33,0,0,1,48.07,97.25C70.33,75.19,97.22,64,128,64s57.67,11.19,79.93,33.25A133.46,133.46,0,0,1,231.05,128C223.84,141.46,192.43,192,128,192Zm0-112a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z"></path>
                                </svg>
                            </button>
                            {% if current_user.status == 'admin' %}
                            <a class="btn-delete button-icon" href="javascript:void(0)"  title="Удалить результат"
                               onclick="event.preventDefault(); showDeleteConfirm('{{ url_for('quiz_bp.delete', result_id=item.id) }}')">
                                <svg class="icon-btn" viewBox="0 0 256 256" width="20" height="20" fill="currentColor">
                                    <path d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM96,40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96Zm96,168H64V64H192ZM112,104v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Z"></path>
                                </svg>
                            </a>
                            <a class="btn-download button-icon" href="{{ url_for('pdf_bp.download', result_id=item.id, report_number=offset + loop.index) }}" title="Скачать в PDF формате">
                                <svg class="icon-btn" viewBox="0 0 256 256" width="20" height="20"
                                     fill="currentColor">
                                    <path d="M224,152v56a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V152a8,8,0,0,1,16,0v56H208V152a8,8,0,0,1,16,0Zm-101.66,5.66a8,8,0,0,0,11.32,0l40-40a8,8,0,0,0-11.32-11.32L136,132.69V40a8,8,0,0,0-16,0v92.69L93.66,106.34a8,8,0,0,0-11.32,11.32Z"></path>
                                </svg>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="8" style="text-align: center; padding: 10px">Нет данных для отображения</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </section>
        <div class="table-footer">
            <div class="pagination">
                {% if pagination.has_prev %}
                <a class="page-btn" href="{{ url_for('user.cabinet', page=pagination.prev_num) }}">
                    <svg class="icon-btn" width="20" height="20" viewBox="0 0 256 256" fill="currentColor">
                        <path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path>
                    </svg>
                </a>
                {% else %}
                <button class="page-btn" id="prevPage">
                    <svg class="icon-btn" width="20" height="20" viewBox="0 0 256 256" fill="currentColor">
                        <path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path>
                    </svg>
                </button>
                {% endif %}
                <span id="pageInfo">Страница {{ pagination.page }} из {{ pagination.pages }}</span>

                {% if pagination.has_next %}
                <a class="page-btn" href="{{ url_for('user.cabinet', page=pagination.next_num) }}">
                    <svg class="icon-btn" width="20" height="20" viewBox="0 0 256 256" fill="currentColor">
                        <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
                    </svg>
                </a>
                {% else %}
                <button class="page-btn" id="nextPage">
                    <svg class="icon-btn" width="20" height="20" viewBox="0 0 256 256" fill="currentColor">
                        <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
                    </svg>
                </button>
                {% endif %}
            </div>
        </div>

        <section class="profile-skeleton" id="profileSkeleton" style="display: none;">
            <div class="profile-skeleton__header">
                <div class="profile-skeleton__title"></div>
                <div class="profile-skeleton__close"></div>
            </div>

            <div class="profile-skeleton__row">
                <div class="profile-skeleton__field"></div>
                <div class="profile-skeleton__field"></div>
                <div class="profile-skeleton__field"></div>
                <div class="profile-skeleton__field"></div>
            </div>

            <div class="profile-skeleton__badge"></div>
            <div class="profile-skeleton__block"></div>
            <div class="profile-skeleton__chart"></div>

            <div class="profile-skeleton__section-title"></div>
            <div class="profile-skeleton__table-header">
                <div class="profile-skeleton__table-cell"></div>
                <div class="profile-skeleton__table-cell"></div>
                <div class="profile-skeleton__table-cell"></div>
                <div class="profile-skeleton__table-cell"></div>
                <div class="profile-skeleton__table-cell"></div>
            </div>

            <div class="profile-skeleton__section-title"></div>
            <div class="profile-skeleton__table-header">
                <div class="profile-skeleton__table-cell"></div>
                <div class="profile-skeleton__table-cell"></div>
                <div class="profile-skeleton__table-cell"></div>
                <div class="profile-skeleton__table-cell"></div>
                <div class="profile-skeleton__table-cell"></div>
            </div>
        </section>

        <section class="profile-section" id="profileSection">
            <div class="profile-header">
                <button class="btn-close-profile" title="Закрыть"
                        onclick="document.getElementById('profileSection').style.display='none'">
                    <svg class="icon-btn" width="20" height="20" viewBox="0 0 256 256" fill="currentColor">
                        <path d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path>
                    </svg>
                </button>
            </div>
            <div class="profile-body">
                <div class="profile-meta">
                    <span class="profile-name text-text-primary" id="profileSurname"></span>
                    <div class="profile-meta__items">
                        <span class="text-text-secondary " id="profileCallsign"></span>
                        <span class="text-text-secondary" id="profileGroup"></span>
                        <span class="text-text-secondary" id="profileDate"></span>
                    </div>
                </div>
                <div class="profile-status-block">
                    <span class="profile-status-label">Заключение:</span>
                    <span class="status-badge" id="profileStatus"></span>
                </div>
                <div class="profile-conclusion-block">
                    <span class="profile-status-label">Детальный анализ:</span>
                    <span class="status-badge status-warning" id="profileConclusion"></span>
                </div>
                <div class="profile-chart-wrapper">
                    <canvas id="profileChart" height="250"></canvas>
                </div>
            </div>
            <div class="kattella-panel__content">
                <div class="kattella-panel__header">
                    <h4 class="kattella-panel__title">СТЕНЫ</h4>
                    <button class="copy-btn btn" title="Скопировать в буфер" onclick="copyStens()">
                        <svg class="copy-icon" width="20" height="20" viewBox="0 0 256 256" fill="currentColor">
                            <path d="M216,32H88a8,8,0,0,0-8,8V80H40a8,8,0,0,0-8,8V216a8,8,0,0,0,8,8H168a8,8,0,0,0,8-8V176h40a8,8,0,0,0,8-8V40A8,8,0,0,0,216,32ZM160,208H48V96H160Zm48-48H176V88a8,8,0,0,0-8-8H96V48H208Z"></path>
                        </svg>
                        <svg class="copy-success hidden" width="20" height="20" viewBox="0 0 256 256"
                             fill="currentColor">
                            <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
                        </svg>
                        <span>Скопировать в буфер</span>
                    </button>
                </div>
                <table class="kattella-panel__table">
                    <thead>
                    <tr class="kattella-panel__row" id="kattella-panel__factors"><!--js--></tr>
                    </thead>
                    <tbody>
                    <tr class="kattella-panel__row" id="kattella-panel__values"><!--js--></tr>
                    </tbody>
                </table>

                <table class="kattella-panel__table">
                    <div class="kattella-panel__header">
                        <h4 class="kattella-panel__title">СЫРЫЕ БАЛЛЫ</h4>
                        <button class="copy-btn-raw btn" title="Скопировать в буфер" onclick="copyRawScores()">
                            <svg class="copy-icon copy-icon-raw" width="20" height="20" viewBox="0 0 256 256"
                                 fill="currentColor">
                                <path d="M216,32H88a8,8,0,0,0-8,8V80H40a8,8,0,0,0-8,8V216a8,8,0,0,0,8,8H168a8,8,0,0,0,8-8V176h40a8,8,0,0,0,8-8V40A8,8,0,0,0,216,32ZM160,208H48V96H160Zm48-48H176V88a8,8,0,0,0-8-8H96V48H208Z"></path>
                            </svg>
                            <svg class="copy-success hidden copy-success-raw" width="20" height="20"
                                 viewBox="0 0 256 256" fill="currentColor">
                                <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
                            </svg>
                            <span>Скопировать в буфер</span>
                        </button>
                    </div>
                    <thead>
                    <tr class="kattella-panel__row" id="kattella-panel__scores">
                        <!--js-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="kattella-panel__row" id="kattella-panel__scores-values">
                        <!--js-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</div>
{% endblock %}