*,
::before,
::after {
	box-sizing: border-box;
}

html {
	height: 100%;
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
}

/* --- Typography Defaults --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
	margin-block: 0;
}

b {
	font-weight: 600;
}

p {
	margin-block: 0;
}
p:where(:not([class]):not(:last-child)) {
	margin-bottom: 24px;
}

/* --- Lists --- */
:where(ul, ol):where([class]) {
	padding-left: 0;
}
:where(ul[class]) {
	list-style: none;
}
:where(dd[class]) {
	margin-left: 0;
}

/* --- Blockquote & Figure --- */
:where(blockquote, figure):where([class]) {
	margin: 0;
}

/* --- Address --- */
:where(address[class]) {
	font-style: normal;
}

/* --- Media --- */
img,
video {
	display: block;
	max-width: 100%;
	height: auto;
}

/* --- Forms & Interactive --- */
input,
textarea,
select,
button {
	font: inherit;
	margin: 0;
	outline: none;
	border: none;
}
button,
label {
	cursor: pointer;
	background: none;
	border: none;
}
:where(fieldset[class]) {
	margin-left: 0;
	padding: 0;
	border: none;
}


/* --- Links --- */
a:where([class]) {
	display: inline-flex;
}

/* --- SVG --- */
:where([fill]:not([fill='none'], [fill^='url'])) {
	fill: currentColor;
}
:where([stroke]:not([stroke='none'], [stroke^='url'])) {
	stroke: currentColor;
}
svg * {
	transition-property: fill, stroke;
}

/* --- Tables --- */
:where(table) {
	border-collapse: collapse;
	border-color: currentColor;
}

/* --- Accessibility --- */
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

:root {
	--bg: #fdfdfd;
	--card: #ffffff;
	--primary: #0056b3;
	--text: #17161c;
	--border: #e2e2e2;
	--success: #258cf3;
	--active: #3988d5;
	--bg-active: #f4f9fe;
	--bg-number: #f3f4f6;
	--button: #ffffff;
	--text-secondary: #595959;
	--color-blue:#3b82f6;
	--dark-blue:#fff;
	--dark-blue-bg:#111827;
	--sidebar-width: 240px;
    --primary: #2563eb;
    --primary-dark: #1d4ed8;
    --bg-body: #f1f5f9;
    --bg-card: #ffffff;
    --border: #e2e8f0;
    --text-main: #0f172a;
    --text-muted: #64748b;
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
    --radius: 10px;

}