*, ::before, ::after {
    box-sizing: border-box
}

html {
    height: 100%;
    scrollbar-gutter: stable;
    scroll-behavior: smooth
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
    margin-block: 0
}

b {
    font-weight: 600
}

p {
    margin-block: 0
}

p:where(:not([class]):not(:last-child)) {
    margin-bottom: 24px
}

:where(ul,ol):where([class]) {
    padding-left: 0
}

:where(ul[class]) {
    list-style: none
}

:where(dd[class]) {
    margin-left: 0
}

:where(blockquote,figure):where([class]) {
    margin: 0
}

:where(address[class]) {
    font-style: normal
}

img, video {
    display: block;
    max-width: 100%;
    height: auto
}

input, textarea, select {
    font: inherit;
    margin: 0;
    outline: none;
    border: none
}

button, label {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    user-select: none;
    background-color: var(--text-secondary);
}

a:where([class]) {
    display: inline-flex
}

:where([fill]:not([fill='none'],[fill^='url'])) {
    fill: currentColor
}


svg * {
    transition-property: fill, stroke
}

:where(table) {
    border-collapse: collapse;
    border-color: currentColor
}

@media (prefers-reduced-motion: reduce) {
    *, ::before, ::after {
        animation-duration: .01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .01ms !important;
        scroll-behavior: auto !important
    }
}

:root {
    --bg: #fdfdfd;
    --card: #fff;
    --primary: #0056b3;
    --text: #17161c;
    --border: #e2e2e2;
    --success: #258cf3;
    --active: #3988d5;
    --bg-active: #f4f9fe;
    --bg-number: #f3f4f6;
    --color-white:#fff;
    --button: #fff;
    --text-secondary: #595959;
    --color-blue: #3b82f6;
    --dark-blue: #fff;
    --dark-blue-bg: #111827;
    --sidebar-width: 240px;
    --primary-dark: #1d4ed8;
    --bg-body: #f1f5f9;
    --bg-card: #fff;
    --text-main: #0f172a;
    --text-muted: #64748b;
    --btn-delete: #ef4444;
    --btn-delete-hover: #d83b32;
    --btn-download:#5fd068;
    --btn-download-hover:#4ea956;

    --radius: 10px
}